<%# Allow user to see all of their competitors here %>
<h1>All Competitors</h1>
<h4><form method="get" action="/users">
    <input type="submit" value="Back to Your Raceteam">
</form></h4>
<% @racecars.each do |racecar| %>
    <div>
    
        <a href="racecars/<%= racecar.id%>"> <h3><%= racecar.number %>. <%= racecar.driver %></a></h3>
    </div>
<% end %>
<br>
<form method="get" action="/logout">
    <input type="submit" value="Logout">
</form>