<h1>Create a New Racecar!</h1>

<h4><form method="get" action="/users">
    <input type="submit" value="Back to Your Raceteam">
</form></h4>

<form action="/racecars" method="POST">
    <p>Car Name: <input type="text" name="car_name"></p>
    <p>Driver: <input type="text" name="driver"></p>
    <p>Number: <input type ="number" name="number"></p>
    <p>Driver Bio: <input type="text" name="driver_bio"></p>
    <input type="submit" value="Create Racecar">
</form>