<h2>Create a New Racecar!<h2>
<h3></h3>
<form action="/racecars" method="POST">
    <p>Driver: <input type="text" name="driver"></p>
    <p>Number: <input type ="text" name="number"></p>
    <p>Driver Bio: <input type="text" name="driver_bio"></p>
    <input type="submit" value="Create Racecar">
</form>