<%# user homepage, should be able to view, add all of their racecars and add/delete racecars %>
<h1><%= current_user.team_name %></h1>
<h2>Here is your Raceteam</h2>

<% @user.each do |racecar| %>
  <a href="racecars/<%= racecar.id%>"> <h3> <%= racecar.car_name %> </a></h3>
<%end%>

<h4><form method="get" action="/racecars/new">
    <input type="submit" value="Create New Racecar">
</form></h4>