<h2>Users</h2>
<h3>Sing Up Below</h3>
<form action="/signup" method="POST">
    <p>Username: <input type="text" name="username"></p>
    <p>Password: <input type="text" name="password"></p>
    <p>Team Name: <input type="text" name="team_name"></p>
    <p>Manufacturer: <input type="text" name="manufacturer"></p>
    <input type="submit" value="Sign Up">
</form>