<h2>Users</h2>
<h3>Sing Up Below</h3>
<form action="/singup" method="POST">
    <p>Email: <input type="text" name="email"></p>
    <p>Password: <input type="text" name="password"></p>
    <p>Team Name: <input type="text" name="team_name"></p>
    <p>Manufacturer: <input type="text" name="manufacturer"></p>
    <p>Team Description: <input type="text" name="team_description"></p>
    <input type="submit" value="Sign Up">
</form>